@using Foto.Web.Client.Authorization
@inherits LayoutComponentBase
@inject AuthorizationManager AuthManager

<PageTitle>SFK Fotowebb</PageTitle>

<header id="header" class="header d-flex align-items-center fixed-top">
    <NavMenu />
</header>
 @* data-aos="fade" data-aos-delay="1500" *@
<main id="main" role="main">
     @Body
</main>
<footer class="fixed-bottom">
    <Footer />
</footer>

