@using Foto.Web.Client.Authorization
@inject AuthorizationManager AuthManager
@inject NavigationManager NavigationManager

<div class="container-fluid d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo navbar-brand d-flex align-items-center  me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img class="logo-img" src="logo.jpg" alt="">
        <h1>SFK Fotowebb</h1>
    </a>
    <nav id="navbar" class="navbar">
        <ul>
            <li><a href="/" class="active">Hem</a></li>
            @if (AuthManager.IsAuthorized)
            {
                <li class="dropdown"><a href="#"><span>Bilder</span> <i
                            class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><NavLink class="nav-link" href="image/upload">Ladda upp foto</NavLink></li>
                        <li><NavLink class="nav-link" href="image/myimages">Mina bilder</NavLink></li>
                    </ul>
                </li>
                @if (AuthManager.IsAdmin)
                {
                    <li class="dropdown"><a href="#"><span>Admin</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><NavLink class="nav-link" href="admin/users/list">Hantera användare</NavLink></li>
                            <li><NavLink class="nav-link" href="admin/tokens">Hantera tokens</NavLink></li>
                        </ul>
                    </li>
                }
                <li class="dropdown"><a href="#"><span>ST-bilder</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><NavLink class="nav-link" href="/st-bild/upload">Ladda upp ST-bild</NavLink></li>
                        <li><NavLink class="nav-link" href="/st-bild/list">Visa ST-bilder</NavLink></li>
                    </ul>
                </li>
            }
            @if (AuthManager.IsAuthorized)
            {
                <li class="dropdown"><a href="#"><span class="mr-3">@(AuthManager?.Username)</span> <i
                            class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><NavLink class="nav-link" @onclick="@Logout" >Logga ut</NavLink></li>
                    </ul>
                </li>
            }
            else
            {
                <li class="nav-item mr-3">
                    <a class="nav-link m" href="/login">Logga in</a>
                </li>
            }
        </ul>
    </nav><!-- .navbar -->
    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
</div>

@code {

    async Task Logout()
    {
        await AuthManager.Logout();
        NavigationManager?.NavigateTo("/login", true);
    }

}