@page "/confirm-email"
@using Foto.Web.Client.ApiClients
@inherits BasePage
@inject UserApiClient Client

<h3>ConfirmEmail</h3>
@if(@IsConfirmed)  {
    <p>Din e-post är nu konfirmerad du kommer nu automatiskt flyttas till inloggningssidan.</p>
}
else
{
    <p>Din konfirmeringstoken har gått ut eller fel länk. Du kommer automatiskt komma till inloggningssidan. Logga in och följ instruktioner för att skicka konfirmeringen igen.</p>
}
@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "token")]
    public string Token { get; set; } = String.Empty;
    
    public bool IsConfirmed { get; set; }
    
    protected override async Task OnParametersSetAsync()
    {
        // IsConfirmed = await Client.ConfirmEmailAsync(Token);
        // StateHasChanged();
        // await Task.Delay(TimeSpan.FromSeconds(5000));
        // NavigationManager?.NavigateTo("login", true);
        
        await base.OnParametersSetAsync();
    }
    
    protected override async Task OnInitializedAsync()
    {
        IsConfirmed = await Client.ConfirmEmailAsync(Token);
        StateHasChanged();
        await Task.Delay(TimeSpan.FromSeconds(5000));
        NavigationManager?.NavigateTo("login", true);
        await base.OnInitializedAsync();
    }

    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     
    //         
    //     await base.OnAfterRenderAsync(firstRender);
    // }

}