@page "/"
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Http.Features
@namespace Foto.WebServer.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Foto.WebServer.Pages.IndexModel
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Security-Policy" content="block-all-mixed-content;upgrade-insecure-requests;default-src 'self';img-src https://*.googleusercontent.com data: 'self';script-src stackpath.bootstrapcdn.com 'sha256-34WLX60Tw3aG6hylk0plKbZZFXCuepeQ6Hu7OqRf8PI=' 'sha256-HU12q4hTLt0INlq0UBW6M5D5JYS2DLzQLA7sDXKLXmw=' 'self'; style-src stackpath.bootstrapcdn.com fonts.googleapis.com 'unsafe-inline' 'self'; font-src fonts.gstatic.com 'self';">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="~/"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />

    <link rel="icon" type="image/png" href="favicon.jpg"/>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
</head>
<body>
<component type="typeof(App)" render-mode="Server" 
           param-ConsentGiven = "@HttpContext.Features.Get<ITrackingConsentFeature>()!.HasConsent"/>
<div id="blazor-error-ui">
    <environment include="Staging,Production">
        Ett fel har inträffat, prova att refresha sidan och logga in igen! Om felet uppstår kontakta administratören.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Ladda om sidan!</a>
    <a class="dismiss">🗙</a>
</div>

<script src="js/jquery-3.5.0.slim.min.js"></script>
<script src="js/main.js"></script>
<script src="_content/MudBlazor/MudBlazor.min.js"></script>
<script src="~/_framework/blazor.server.js"></script>
</body>
</html>