@page "/confirm-email"
@inherits BasePage
@using Foto.WebServer.Services
@inject IUserService UserService

<div class="container">
    <div class="row g-3 mb-5 justify-content-center align-items-center">
        <div class="col col-8" style="max-width: 350px;">
            <h2>Epost-konfirmering</h2>
            @if (IsConfirmed)
            {
                <p>Din e-post är nu konfirmerad du kommer nu automatiskt flyttas till inloggningssidan.</p>
            }
            else
            {
                <p>Du har antagligen klickat på en gammal länk. Använd senaste mailet du fått från systemet! Du kommer automatiskt komma till inloggningssidan. Logga in och följ instruktioner för att skicka konfirmeringen igen.</p>
            }
        </div>
    </div>
</div>

@code {

    [Parameter]
    [SupplyParameterFromQuery(Name = "token")]
    public string? Token { get; set; } = String.Empty;

    private bool IsConfirmed { get; set; }

    private readonly System.Timers.Timer _timer = new(7000);

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        _timer.AutoReset = false;
        _timer.Elapsed += (_, _) =>
        {
            NavigationManager?.NavigateTo("/login", true);
            _timer.Dispose();
        };
        _timer.Enabled = true;
        if (firstRender)
        {
            if (Token is not null)
            {
                var result = await UserService.ConfirmEmailAsync(Token);
                IsConfirmed = result is null;
                StateHasChanged();
            }
        }

        await base.OnAfterRenderAsync(firstRender);
    }

}