@page "/"
@using Foto.WebServer.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@layout MainLayout
@inherits AuthorizedBasePage


<div class="container d-flex flex-column justify-content-center align-items-center">
    <div class="row row-cols-auto align-items-center">
        <h1>Välkommen till SFK fotowebb</h1>
        <p>Detta är en webbplats för medlemmar i Sundsvalls fotoklubb. Denna tjänst är under utveckling och du kommer
            att kunna ladda upp bilder till tävlingar och till ST. Har du några frågor, skicka dessa
            till sekreterare@sundsvallsfotoklubb.se</p>
    </div>
</div>

@code {
    [Parameter] 
    public AuthorizedUserInfo? CurrentUser { get; set; }

    [Parameter]
    public string[] SocialProviders { get; set; } = Array.Empty<string>();

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }
}