<div class="m-auto p-1 d-flex bg-body-secondary align-middle align-items-center">
    <span class="align-content-center m-auto">
        För support:
        <a href="mailto:webmaster@sundsvallsfotoklubb.se">
            webmaster@sundsvallsfotoklubb.se
        </a>
    </span>
</div>
