@using Microsoft.AspNetCore.Components.Authorization
@using Foto.WebServer.Authentication
@* @inject TokenAuthorizationProvider AuthenticationStateProvider *@
@inject NavigationManager NavigationManager

<nav class="navbar navbar-expand-md">
  <div class="container-fluid">
     <a href="/" class="logo navbar-brand">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <img class="d-inline-block" src="logo.jpg" alt="">
            SFK Fotowebb
        </a>
    @* <a class="navbar-brand" href="#">Navbar</a> *@
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ms-auto  mb-2 mb-lg-0">
            <AuthorizeView>
                <Authorized>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Bilder</a>
                    <ul  class="dropdown-menu">
                        <li><NavLink class="dropdown-item" href="image/upload">Ladda upp foto</NavLink></li>
                        <li><NavLink class="dropdown-item" href="image/myimages">Mina bilder</NavLink></li>
                    </ul>
                </li>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles="Admin">
                <Authorized>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Anv채ndare</a>
                            <ul class="dropdown-menu">
                                <li><NavLink class="dropdown-item" href="admin/users/list">Hantera anv채ndare</NavLink></li>
                                <li><NavLink class="dropdown-item" href="admin/users/precreate">L채gg till anv채ndare</NavLink></li>
                            </ul>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">ST-bilder</a>
                            <ul class="dropdown-menu">
                                <li><NavLink class="dropdown-item" href="/admin/st-bild/hantera">Hantera ST-bilder</NavLink></li>
                                <li><NavLink class="dropdown-item" href="/admin/st-bild/paketera">Paketera ST-bilder</NavLink></li>
                            </ul>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li><NavLink class="dropdown-item" href="admin/tokens">Hantera tokens</NavLink></li>
                    </ul>
                </li>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView>
                <Authorized>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">ST-bilder</a>
                        <ul class="dropdown-menu">
                            <li><NavLink class="dropdown-item" href="/st-bild/upload">Ladda upp ST-bild</NavLink></li>
                            <li><NavLink class="dropdown-item" href="/st-bild/list">Visa ST-bilder</NavLink></li>
                        </ul>
                    </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">@context.User.Identity?.Name</a>
                    <ul class="dropdown-menu">
                        <li><NavLink class="dropdown-item" @onclick="@Logout">Logga ut</NavLink></li>
                    </ul>
                </li>
                </Authorized>
                <NotAuthorized>
    
                    <li class="nav-item mr-3">
                        <a class="nav-link m" href="/login">Logga in</a>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>
  </div>
</nav>
@* </div> *@

@code {
    void Logout()
    {
      //  await AuthenticationStateProvider.MarkUserAsLoggedOut();
        NavigationManager?.NavigateTo("/signout", true);
    }
}