@page "/admin/st-bild/paket"
@using Foto.WebServer.Services
@using Microsoft.AspNetCore.Authorization
@inherits AuthorizedBasePage
@attribute [Authorize(Roles = "Admin")]
@inject IStBildService StBildService
<h3>ViewStBildPackages</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        //_packages = await StBildService.GetPackages();
        await base.OnInitializedAsync();
    }

}