@* @page "/image/upload" *@
@* @layout MainLayout *@
@* @inherits AuthorizedBasePage *@
@* *@
@* <div class="container d-flex flex-column justify-content-center align-items-center"> *@
@*     <div class="row row-cols-auto align-items-center" pb-2> *@
@*         <h2>Ladda upp bilder</h2> *@
@*     </div> *@
@* </div> *@
@* *@
@* <div class="m3-3"> *@
@*     <ImageUpload/> *@
@* </div> *@
