@page "/st-bild/upload"
@inherits AuthorizedBasePage

<AppContent ContentMaxWidth="MaxWidth.Small">
    <Title>Ladda upp ST-bild</Title>
    <Ingress>Ladda upp dina ST-bilder här.</Ingress>
    <Container>
        <StBildUpload/>
    </Container>
</AppContent>