@page "/st-bild/upload"
@inherits AuthorizedBasePage

<AppContent ContentMaxWidth="MaxWidth.Small">
    <Title>Ladda upp ST-bild</Title>
    <Ingress>Ladda upp dina ST-bilder här. ST-Bilder skall vara exakt 2079x1382 pixels i jpeg format. <MudLink Target="_blank" Href="https://www.youtube.com/watch?v=a7TIYQTADpU">
        Klicka här för hjälp hur du använder Lightroom att få rätt format
    </MudLink> på dina ST-bilder</Ingress>
    <Container>
        <StBildUpload/>
    </Container>
</AppContent>